SmartRoute/src/SmartRoute/bin/
SmartRoute/src/SmartRoute/obj/
SmartRoute/src/SmartRoute.NodeTest2/bin/
SmartRoute/src/SmartRoute.NodeTest2/obj/
SmartRoute/src/SmartRoute.NodeTest/obj/
SmartRoute/src/SmartRoute.NodeTest/bin/
SmartRoute/src/SmartRoute.NodeTest.Messages/bin/
SmartRoute/src/SmartRoute.NodeTest.Messages/obj/
SmartRoute/src/SmartRoute.SyncPublishTest/bin/
SmartRoute/src/SmartRoute.SyncPublishTest/obj/
SmartRoute/src/SmartRoute.NodeService/bin/
SmartRoute/src/SmartRoute.NodeService/obj/
SmartRoute/src/SmartRoute.NodeServiceClient/bin/
SmartRoute/src/SmartRoute.NodeServiceClient/obj/
SmartRoute/src/SmartRoute.PacketTest/bin/
SmartRoute/src/SmartRoute.PacketTest/obj/
SmartRoute/src/SmartRoute.MethodInvokeServer/bin/
SmartRoute/src/SmartRoute.MethodInvokeServer/obj/
SmartRoute/src/SmartRoute.MethodInvokeClient/obj/
SmartRoute/src/SmartRoute.MethodInvokeClient/bin/
